.card
{
 position: absolute;
 width: 1450px;
 height: 200px;
 border: 10px solid black;
 border-radius: 20px;
 background-color: #FF6E31;
 padding-left: 40px;
 padding-top: 100px;
 padding-bottom: 100px;
}
body
{
  background-color: #243763;
  border: 10px solidl;
  border-radius: 20px;
}
.drum
{
  width: 200px;
  height: 200px;
  border: 4px solid;
  border-radius: 20px;
}

.w
{
  background-image: url(images/tom1.png);
}
.a
{
  background-image: url(images/tom2.png);
}
.s
{
  background-image: url(images/tom3.png);
}
 .d
{
  background-image: url(images/tom4.png);
}
.j
{
  background-image:url(images/crash.png);
}
.k
{
  background-image: url(images/kick.png);
}
.l
{
  background-image: url(images/snare.png);
}
.in
{
  font-family: 'Bungee Spice', cursive;
  font-size: 100px;
}

.heading
{
    font-family: 'Bungee Spice', cursive;
    place-items: center;
    display:grid;
    font-size: 50px;
}
.footer
{
  border: 1px solid;
  border-radius: 10px;
  /* position: relative; */
  /* display: flex; */
vertical-align: baseline;
vertical-align: bottom;
  background-color: red;
}
